.homeBody{
    margin-top: 150px;
    color: white;
    width: 100vw;
    align-items: center;
    justify-content: center;
    display: flex;
    
}


.dashboard{
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    
    h1{
        margin-top: 10px;
    }

    @media screen and ( max-width: 680px){
        margin: auto;
        display: flex;
        flex-direction: column;
    }
}

.games{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row; 
    width: 100%;
    flex-wrap: wrap;
}
.gameInfo {
    height: 50px;
    width: 300px;
    margin: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    background-color: rgba(100, 100, 100, 0.1);
    .title{
        flex-direction: row;
        justify-content: space-around;
        display: flex;
        width: 100%;
    }
}
